/* Custom CSS */

.remove-item-btn,
.add-btn {
  background-color: #003ecc !important;
  color: #fff !important;
}

.add-btn {
  font-size: 12px !important;
  padding: 5px 10px !important;
  margin: 0px !important;
} 

.remove-item-btn {
  font-size: 10px !important;
  float: right;
  padding: 3px 4px !important;
  margin-top: -15px !important;
  margin-right: 0 !important;
}

.repeater-div {
  margin-top: 26px;
  margin-bottom: 8px;
  padding: 15px;
  border: 1px solid #eee;
}

.repeater-fieldset-wrapper {
  width: 44%;
}

.repeater-fieldset {
  float: right;
  margin-top: -20px;
}

.clearfix {
  clear: both;
}

.form_heading {
  margin-bottom: 18px;
}

.form-item,
fieldset {
  margin-bottom: 20px !important;
}

fieldset .form-item {
  margin-bottom: 0.75em !important;
}

#drupal-marketo-connector-id,
#marketo-tokens-id,
#marketo-newsletter-id,
#marketo-schedule-id,
#marketo-prefill-id,
#marketo-restrict-prefill-id,
#drupal-marketo-connector-help,
#marketo-dosconfig-id {
  border: 1px solid #ccc;
  padding: 15px 25px 20px;
}

.checkbox-scroll,
#edit-category-checkboxes {
  border: 1px solid #ccc !important;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px 10px !important;
  width: 250px;
}

.checkbox-scroll .option {
  vertical-align: top;
  width: 200px !important;
}

.checkbox-scroll .form-checkbox {
  margin-top: 3px;
}

#edit-headerimage-upload .form-submit {
  margin-left: 15px;
}

#edit-program {
  margin-bottom: 12px;
}

#edit-campaign {
  margin-bottom: 10px;
}

#drupal-marketo-connector-id .form-item-secretkey,
#marketo-tokens-id .form-item-header-summary {
  margin: 18px 0;
}

#marketo-tokens-id .form-item-tokensubject {
  margin: 0 0 18px;
}

#marketo-schedule-id #edit-campaign {
  margin-bottom: 13px;
}

#marketo-schedule-id .form-item-scheduletime {
  margin: 20px 0;
}

#marketo-schedule-id .form-item-fieldsummary {
  margin-top: 20px;
}

#marketo-schedule-id #edit-location {
  padding-left: 5px;
  vertical-align: top;
}

#marketo-schedule-id #edit-nodeload {
  margin-bottom: 0;
}

#marketo-schedule-id #edit-subject,
#marketo-schedule-id .replace_textfield_div,
#marketo-schedule-id #edit-scheduletimezone {
  margin-top: 10px;
}

#marketo-schedule-id .form-item-subject {
  clear: both;
}

#marketo-schedule-id .form-item-location {
  margin: 12px 0;
}

#marketo-newsletter-id legend,
#marketo-dosconfig-id legend {
  float: left;
  width: 175px;
}

#marketo-newsletter-id .form-item-customsubject {
  margin-bottom: 15px;
}

#marketo-newsletter-id .form-type-textarea label,
#marketo-newsletter-id .form-textarea-wrapper {
  margin-top: 15px;
}

#marketo-newsletter-id .header_img_preview {
  max-width: 60%;
  width: 100%;
  border: none;
  margin-left: 165px;
}

#marketo-newsletter-id .header_img_preview tr,
#marketo-newsletter-id .header_img_preview tr:hover {
  border-bottom: none;
  padding: 0;
  background: none;
}

#marketo-newsletter-id .header_img_preview td {
  vertical-align: top;
  width: 76%;
}

#marketo-newsletter-id #exist_img {
  width: 100%;
  max-height: 250px;
  height: auto;
  min-width: 250px;
}

#marketo-newsletter-id #edit-image-remove-button {
  max-width: 117px;
  width: 100% !important;
}

/* inline - layout for forms */
#drupal-marketo-connector-id label,
#marketo-tokens-id label,
#marketo-schedule-id label,
#marketo-prefill-id #edit-field-mapping-status,
#marketo-prefill-id label,
#marketo-restrict-prefill-id label,
#marketo-dosconfig-id label {
  display: inline-block;
  width: 170px;
}

#marketo-newsletter-id label,
#marketo-newsletter-id #edit-program,
#marketo-newsletter-id #edit-campaign {
  display: inline-block;
  width: 175px;
}

#marketo-schedule-id #edit-program,
#marketo-schedule-id #edit-campaign {
  display: inline-block;
  width: 175px;
}

#drupal-marketo-connector-id .description,
#marketo-tokens-id .description,
#marketo-newsletter-id .description,
#marketo-schedule-id .description,
#marketo-prefill-id .description,
#marketo-restrict-prefill-id .description,
#marketo-dosconfig-id .description {
  font-style: italic;
  padding-left: 175px;
}

#drupal-marketo-connector-id #edit-submit,
#marketo-tokens-id #edit-submit,
#marketo-newsletter-id #edit-submit,
#marketo-newsletter-id .checkbox-scroll,
#edit-category-checkboxes,
#marketo-schedule-id #edit-nodeload,
#marketo-schedule-id #edit-submit,
#marketo-prefill-id #edit-submit,
#marketo-schedule-id .replace_textfield_div,
#marketo-restrict-prefill-id #edit-submit,
#marketo-dosconfig-id #edit-submit {
  margin-left: 175px;
}

#drupal-marketo-connector-id #edit-submit,
#marketo-tokens-id #edit-submit,
#marketo-newsletter-id #edit-submit,
#marketo-schedule-id #edit-submit,
#marketo-prefill-id #edit-submit,
#marketo-restrict-prefill-id #edit-submit,
#marketo-dosconfig-id #edit-submit {
  margin-top: 12px;
}

#marketo-dosconfig-id .form-item-request-time,
#marketo-dosconfig-id .form-item-request-timeparameter {
  float: left;
  margin-right: 10px;
}

#marketo-dosconfig-id label[for="edit-request-timeparameter"] {
  display: none;
}

#marketo-dosconfig-id .form-item-number-of-hits {
  width: 100%;
}

#marketo-newsletter-id .replace_program_div,
#marketo-newsletter-id .replace_campaign_div,
#marketo-schedule-id .replace_program_div,
#marketo-schedule-id .replace_campaign_div,
#marketo-newsletter-id .form-radios,
#marketo-newsletter-id .form-type-radio,
#marketo-newsletter-id .form-managed-file,
#marketo-schedule-id .form-managed-file,
#marketo-dosconfig-id .form-type-radio,
#marketo-dosconfig-id .form-item-number-of-hits {
  display: inline-block;
}

#marketo-newsletter-id .option,
#marketo-dosconfig-id .option {
  vertical-align: bottom;
  width: auto;
}

#drupal-marketo-connector-id .help_link,
#marketo-tokens-id .help_link {
  margin: 10px 0;
  padding-left: 175px;
}

#marketo-newsletter-id .form-textarea-wrapper,
#marketo-schedule-id .form-textarea-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}

.config_errmsg {
  color: #a51b00;
  font-size: 14px;
}

.jplist-panel .jplist-drop-down .jplist-dd-panel:after {
  z-index: 100;
}

.preview_schedule_dialog {
  background-color: #fff !important;
}

#preview_schedule_dialog,
.scheduleOrder {
  display: none;
}

#preview_schedule_dialog span.label {
  width: 140px;
  display: inline-block;
}

#preview_schedule_dialog input[type="text"] {
  width: 100%;
  max-width: 530px;
}

.reorder_header {
  text-align: center;
}

#preview_schedule_dialog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#preview_schedule_dialog li {
  cursor: default;
  font-size: 1.4em;
  margin: 0 0 3px;
  padding: 0.4em 0.4em 0.4em 1.5em;
}

#preview_schedule_dialog li .ui-icon {
  float: right;
  margin-top: 2px;
}

#marketo-newsletter-id .errors,
#marketo-schedule-id .errors {
  margin-left: 175px;
  display: block;
}

#marketo-schedule-id .nodeErr.errors {
  margin-left: 0;
  display: block;
}

#marketo-newsletter-id .errors p,
#marketo-schedule-id .errors p {
  line-height: 1 !important;
}

.preview_schedule_dialog .ui-dialog-buttonset {
  float: none !important;
}

#marketo-schedule-id #edit-schedulestatus--wrapper legend {
  float: left;
  width: 175px;
}

#marketo-schedule-id #edit-schedulestatus--wrapper #edit-schedulestatus,
#marketo-schedule-id #edit-schedulestatus--wrapper .form-item-schedulestatus {
  display: inline-block;
}

#marketo-schedule-id #edit-schedulestatus--wrapper .form-item-schedulestatus {
  margin-right: 4px;
}

#marketo-schedule-id #edit-schedulestatus--wrapper #edit-schedulestatus .form-item-schedulestatus label {
  vertical-align: bottom;
  width: auto;
}

#marketo-schedule-id #tab1 .add-auto-digest-row {
  margin-bottom: 15px;
}

#marketo-schedule-id #tab1 .item-label {
  margin-left: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

#marketo-schedule-id #tab1 .items select,
#marketo-schedule-id #tab1 .items input {
  margin-bottom: 10px;
}

#marketo-schedule-id #tab1 .items select[multiple="multiple"] {
  padding: 5px;
  vertical-align: top;
}

#marketo-schedule-id #tab1 .items input.remove-auto-digest-row {
  margin-left: 0;
  margin-top: 10px;
}

#marketo-schedule-id #tab1 .items .form-type-select .auto_program_div,
#marketo-schedule-id #tab1 .items .form-type-select .auto_campaign_div {
  display: inline-block;
}

#marketo-schedule-id #tab1 .items .form-type-select span.form-required {
  display: inline-block;
  width: 175px;
  vertical-align: top;
  margin-bottom: 15px;
}

#marketo-schedule-id .select2.select2-container {
  min-width: 600px;
}

#marketo-schedule-id #tab1 input#edit-auto-submit {
  margin-left: 0;
  margin-top: 15px;
}

#marketo-schedule-id #tab1 .errors p {
  margin-top: 0;
}

#marketo-schedule-id #tab1 .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

#marketo-schedule-id #tab1 .ui-state-active {
  background: #fe6;
}

.formDisabled {
  pointer-events: none;
}

.postgrid {
  clear: both;
  padding-top: 20px;
}

.list-item.box {
  border: 1px solid #ccc;
  padding: 15px 10px 10px;
  margin: 10px 0;
}

.post {
  width: 100%;
  float: left;
  clear: both;
}

.postdata .nodetitle {
  float: left;
  margin-right: 20px;
}

.postdata h4 {
  margin: 0 !important;
}

.postdata p {
  margin-bottom: 0 !important;
}

.postdata .postdesc {
  margin-left: 168px;
}

.postimage {
  margin-right: 15px;
  float: left;
}

#drupal-marketo-connector-api-log table {
  font-size: 12px;
  border: 1px solid #ccc;
}

#drupal-marketo-connector-api-log table th {
  text-align: center;
  padding: 15px;
  border-right: 1px solid #ccc;
}

#drupal-marketo-connector-api-log table tr.odd {
  background-color: #fafafa;
}

#drupal-marketo-connector-api-log table td {
  padding: 15px;
  border-right: 1px solid #ccc;
}

#drupal-marketo-connector-api-log nav.pager {
  margin: 22px 0;
}

#preview_schedule_dialog {
  height: 380px !important;
}

.ui-dialog .ui-dialog-buttonpane {
  padding-left: 1em !important;
}
