{# sudc/templates/helpcontent.html.twig #}

<fieldset data-drupal-selector="edit-body" id="edit-body" class="js-form-item form-item js-form-wrapper form-wrapper">
    <legend>
        <h4>Steps to configure :</h4>
    </legend>
    <div class="fieldset-wrapper">
        <div id="aut-help">
            <p>To enable functionality of this module. Follow these steps:</p>
            <p><strong>Step 1 : Searchunify Configurations</strong> <br />
            First, we enter the below fields for the configuration.  </a>.</p>
            <ul>
                <li>Client Id</li>
                <li>Client Secret</li>
                <li>UID</li>
                <li>Endpoint</li>
                <li>Username</li>
                <li>Password</li>
            </ul>
            <p><strong>Step 2 : Show searchunify </strong><br />
            Once configuration will configure correctly without any error, through the API call we show the searchunify functionality on the drupal website<br>
            you can access the page on the URL: <b>www.example.com/searchunify</b>    	  
            </p>
        </div>
        <div class="text-center">
            <a class="button button--secondary" href="https://community.searchunify.com/support" target="_blank">Contact Support</a>
        </div>
    </div>
</fieldset>
<div class="Searchunify" style="padding:15px 0px 0; background-color:E0E0D8;text-align: right;">
    <a href="https://www.searchunify.com/" target="_blank">
        <img alt="Searchunify" src="{{ mpath }}/image/sulogo.svg" style="width: 160px;margin-right: 0px;">
    </a>
</div>