{{ attach_library('sudc/sudc') }}
{% if data.epoint is not null and data.epoint is not empty and data.uid is not null and data.uid is not empty %}
    {# <script type="text/javascript" src="{{ data.epoint }}/resources/search_clients_custom/{{ data.uid }}/external_scripts.js"></script> #}
    <script type="text/javascript" src="{{ data.cdn }}{{ data.uid }}/an.js"></script>
    <script type="text/javascript" src="{{ data.cdn }}{{ data.uid }}/main.js"></script>
    <link rel="stylesheet" href="{{ data.cdn }}{{ data.uid }}/main.css">
    {# <link rel="stylesheet" href="{{ data.epoint }}/resources/search_clients_custom/{{ data.uid }}/external_styles.css"> #}

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <div su-container="">
    <su-app></su-app>
    </div>

{% else %}
    <div data-drupal-messages="">
        <div role="contentinfo" aria-label="Warning message" class="messages messages--warning">
            Need to update {{data.uid}} SU configurations for visibility of search results block.
        </div>
    </div>
{% endif %}