{# sudc/templates/grzheader.html.twig #}

<div class="Searchunify" style="padding:15px 0px 0; background-color:E0E0D8;text-align: right;">
    <a href="https://www.searchunify.com/" target="_blank">
        <img alt="Searchunify" src="{{ mpath }}/image/sulogo.svg" style="width: 160px;margin-right: 0px;">
    </a>
</div>
